<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">NYT Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/saved">Saved Articles</a>
            </li>
            <li class="nav-item button">
                <a class="nav-link" href="#">Scrape New Articles</a>
            </li>
            <li class="nav-item button">
                <a class="nav-link" href="#">Clear Articles</a>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-center">New York Times Scraper</h1>
    </div>
</div>

<div class="container" id="article-container">
    {{#if articles}}
    {{#each articles}}
    {{#unless saved}}
    <div class="card">
        <div class="card-body">
            <a href="https://www.nytimes.com{{this.link}}">
                <h5 class="card-title article-title">{{this.title}}</h5>
            </a>
            <p class="card-text article-summary">{{this.summary}}</p>
            <button class="btn btn-primary save-article-button" data-id={{this._id}}>Save Article</button>
        </div>
    </div>
    {{/unless}}
    {{/each}}
    {{else}}
    <div>
        <h4>There are no articles here. Please scrape to find more articles or check saved articles.</h4>
        <a class="btn btn-primary" href="/scrape">Scrape Articles</a>
        <a class="btn btn-primary" href="/saved">Saved Articles</a>
    </div>
    {{/if}}
</div>