<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">NYT Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/saved">Saved Articles</a>
            </li>
            <li class="nav-item button">
                <a class="nav-link" href="/scrape">Scrape New Articles</a>
            </li>
            <li class="nav-item button">
                <a class="nav-link" href="/clear">Clear Articles</a>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-center">Saved Articles</h1>
    </div>
</div>

<div class="container" id="article-container">
    {{#if articles}}
    {{#each articles}}
    <div class="card">
        <div class="card-body">
            <a href="https://www.nytimes.com{{this.link}}">
                <h5 class="card-title article-title">{{this.title}}</h5>
            </a>
            <p class="card-text article-summary">{{this.summary}}</p>
            <button class="btn btn-primary remove-article-button" data-id={{this._id}}>Remove Article</button>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop"
                data-id={{this._id}}>Article Notes</button>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Notes About This Article</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <textarea class="form-control" id="add-note-text" rows="3" placeholder="New Note"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary add-note-button" data-id={{this._id}}>Add Note</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{else}}
    <div>
        <h4>There are no articles here. Please scrape to find more articles or check saved articles.</h4>
        <a class="btn btn-primary" href="/scrape">Scrape Articles</a>
        <a class="btn btn-primary" href="/saved">Saved Articles</a>
    </div>
    {{/if}}
</div>